<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PROJECT_UUID</key>
	<string>9a47a52a-caf2-4e16-a96b-e6d0474fa79a</string>
	<key>PROJECT_CLIENT_KEY</key>
	<string>cbNRbygib7hbI9k4WbmQtGBgUNCgVlTXgzEp4bc3</string>
	<key>PROJECT_APP_UUID</key>
	<string>e996f31c-7fb1-4584-ac1e-ecdcd5efa872</string>
</dict>
</plist>
